
header{
    width: 100%;
    height: auto;
    background: url(../img/top_bg.jpg) no-repeat center ;
    background-size: 100% 100%;

}
.top1{
    height: auto;
    padding-top:15px;
    position: relative
}
.logo{
    display: inline-block;
    height: 40px;
}
.copyright{
    position: absolute;
    top: 8%;
    right: 0;
    
}
.title{
    margin-top: 100px;
    margin-bottom: 90px;
    overflow: hidden
}
.title img{
    display: inline-block;
    width: auto;
    height: 100px;
    vertical-align: text-bottom;
}
.title .line{
    width: 6px;
    height: 100px;
    display: inline-block;
    background-color: #372C2A;
    margin-top: -50px;

}
.title_right {
    display: inline-block;
    line-height: 28px;
}
.title_right span:nth-child(1),

.title_right span:nth-child(3){
    font-size: 36px;
    color: #ffffff;
    
}

.title_right span:nth-child(2)
{
    font-size: 32px;
    background-color: #372C2A;
    border-radius: 50%;
    color: #ffffff

}
.title_right span:nth-child(4){
    color: #ffffff
}
ul {
    margin: 0;
    padding: 2rem 0 2rem 0;
    display: block;
    text-align: center;
}
li {
    list-style: none;
    /*float: left;*/
    font: bold 17px "MicrosoftYahei";
    line-height: 3rem;
    margin: 1rem 0 1rem 0;
    text-align: center;
    color: #222222;
    transition: 0.3s;
    cursor: pointer;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline;
    border-radius: 2px;
    padding: 6px 18px;
    margin-left: 24px;
}
li:hover {
    color: #fff;
    background-color: rgb(180, 199, 241);
}
/* .misconceptions{ */
    /* background: url(../img/center_bg.jpg) no-repeat center;
    border-top: 1px solid #EEEFEF;
    width: 100%;
    height: 430px;
    background-size:100% 100%; */
/* }
.title1{
    text-align: center;
    font-size: 36px;
    margin: 36px 0 36px 0;
} */
.active {
	background-color: #4A74E2;
	color: #fff;
}
.active2{
    color: #3869E5 !important;
}
.center_title{
    text-align: center;
    height: 168px;
    
}
.center_title>span{
    cursor: pointer;
}
.center_title>span{
    margin: 0 3rem;
    text-align: center;
    width: 264px;
    line-height: 168px;
    font-size: 36px;
    position: relative;
    color: #B3B3B3
}



.grade::after,
.cost::after,
.time::after
{
    content: " ";
    position: absolute;
    left: 60px;
    bottom:-18px;
    width:28px;
    border-bottom: 5px solid #fff;
    transform-origin: 0 100% ;
    transform: scaleY(0.5);
    z-index: 5;
}
.grade.change::after,
.cost.change::after,
.time.change::after
{
    content: " ";
    position: absolute;
    left: 60px;
    bottom:-18px;
    width:28px;
    border-bottom: 5px solid #3869E5;
    transform-origin: 0 100%;
    transform: scaleY(0.5);
    z-index: 5;
}

.consult{
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 56px;
    margin-bottom: 90px;
}
.consult>.liuyan{
    display: inline-block;
    width: 160px;
    height: 50px;
    line-height: 50px;
    border:2px solid #FF5763;
    color: #FF5763;
    margin-right: 24px; 
}
.consult>.zixun{
    display: inline-block;
    width: 160px;
    height: 50px;
    line-height: 50px;
    background-color: #FF5763;
    border:2px solid #FF5763;
    color: #fff; 
    cursor: pointer
}
a:hover,a:active,a:link,a:visited{
    text-decoration: none !important;
}
footer {
    /*height: 17.857143rem;*/
    background: url(../img/footer_bg.jpg) repeat center;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: cover
}
.pccss {
    display: block;
    margin-top: 4.571429rem;
    color: #d3d3d3;
}

.lis {
    padding: 0 4.285714rem;
}
.links>span,
.tuiguang>span {
    margin: 0.5rem 1rem 0.5rem 0;
    font-size: 12px;
}
.weibo {
    margin-left: 2.571429rem;
}
.qr {
    position: relative;
}
.qrwechat {
    position: absolute;
    top: -8rem;
    left: -2rem;
}
.qrweibo {
    position: absolute;
    top: -8rem;
    left: 6rem;
}
.qrwechat,
.qrweibo {
	display: none;
}
.pccss p {
    color: #ccc;
    font-size: 12px;
}
.pccss .bot_title {
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding-top: 2rem;
    opacity: 0.6;
}
.pccss a {
    color: #ccc
}
.pccss .logo {
    margin-bottom: 2rem;
    width: 100%;
    height: 100%
}
.pccss div{
    padding: 0 20px;
}

.pccss .lis:nth-child(2){
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}


.toTop {
    display: block;
    position: fixed;
    top: 60%;
    right: 6rem;
}
.leyuu {
    display: block;
    position: fixed;
    top: 30%;
    right: 3rem;
}